/* src/css/MainButton.css */

/* Estilos para los botones principales */
.main-button {
    background-color: #7BE37B;
    /* Verde que resalta */
    border: none;
    border-radius: 20px;
    /* Bordes más redondeados */
    padding: 20px 40px;
    /* Padding adecuado */
    width: 250px;
    /* Ancho fijo para uniformidad */
    max-width: 300px;
    /* Ancho máximo */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    /* Transiciones suaves */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    /* Texto blanco para contraste */
    font-size: 1.5rem;
    /* Tamaño de fuente adecuado */
    font-weight: 600;
    /* Negrita moderada */
    text-align: center;
    /* Centra el texto dentro del botón */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra para los botones */
}

.main-button:hover {
    background-color: #58e658;
    /* Verde más oscuro al pasar el mouse */
    transform: translateY(-5px);
    /* Efecto de elevación */
}