.search-bar-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.toggle-view-button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #8df18d;
    cursor: pointer;
}