.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0px 20px;
    /* Reducir el padding para hacer el header más alto */
    border-bottom: 1px solid #ddd;
    margin: 0;
    /* Asegurarse de que no haya margen extra */
}

.header-left h1 {
    font-size: 2.5rem;
    margin: 0;
}

.header-left p {
    font-size: 0.73rem;
    color: #5a5a5a;
    margin: 5px 0 0 0;
    font-weight: bold;
    /* o 700, 800, 900 para diferentes grosores */
}

.header-right a {
    margin: 0px 6px;
    color: #626368;
    /* Color de letra */
    text-decoration: none;
    /* Eliminar subrayado */
    transition: color 0.3s ease;
    /* Transición suave para el color */
    font-weight: bold;
    /* o 700, 800, 900 para diferentes grosores */

}

.header-right a:hover {
    text-decoration: none;
    /* Mantener sin subrayado */
}

.header-right a.about:hover {
    color: #81f581;
    /* Color de letra al pasar el mouse para About */
}

.header-right a.offer-services:hover {
    color: #81f581;
    /* Color de letra al pasar el mouse para Offer your services */
}

.header-right a.log-in:hover {
    color: #81f581;
    /* Color de letra al pasar el mouse para Log in */
}

.header-right a.join {
    color: #58e658;
    /* Color de letra para Join */
}

.header-right a.join:hover {
    color: #54a054;
    /* Color de letra al pasar el mouse para Join */
    text-decoration: none;
    /* Mantener sin subrayado */
}